title{
    font-weight: bold;
}

body{
    background-image: radial-gradient(circle, #FFDAB9, palevioletred);
}

body, header{
    text-align: center;
    color: brown;
    background-color: bisque;
    font-size: 23px;
}

#profile{
    color: brown;
    font-size: 25px;
}

#main{
    width:600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-left: 30px;
    padding-right:30px;
    padding-bottom: 3px;
    background-color: #FFDAB9;
    color: brown;
    align: center;
    text-align: center;
    opacity: 0.6;
    font-size: 20px;
    border-radius: 50px;
}


#table1, #edu{
    text-align: justify;
}

#socmed{
    text-align: center;
    color:brown;
}

footer{
    text-align: center;
    color:brown;
    font-size: 18px;
}
