<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Story 5</title>
        <body>
        {% include "navbar.html" %} 
        <div class="container">
            
        <h1 style="text-align: center;">D E T A I L</h1>
        <a href="{% url 'jadwal:Schedule' %}">B A C K</a>
        <!-- <a href="jadwal/">B A C K</a> -->
            <div class="row">
                <div class="col">
                    <form action='' method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                    </form>
                </div> 
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                           <th scope="col">Mata Kuliah</th>
                           <th scope="col">Dosen</th>
                           <th scope="col">SKS</th>
                           <th scope="col">Deskripsi</th>
                           <th scope="col">Semester</th>
                           <th scope="col">Kelas</th>
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        <tr>
                            <th scope="row">{{matkul.matkul}}</th>
                            <td>{{matkul.dosen}}</td>
                            <td>{{matkul.sks}}</td>
                            <td>{{matkul.deskripsi}}</td>
                            <td>{{matkul.semester}}</td>
                            <td>{{matkul.kelas}}</td>
                </tr>
                </tbody>
            </table>     
                </div>
            </div>
            </div>
        </body>      