<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Story 5</title>
        <body>
        {% include "navbar.html" %} 
        <div class="container">
        <h1 style="text-align: center;">S C H E D U L E</h1>
            <div class="row">
                <div class="col-sm-6">
                        <form action='' method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <div class="centre-items">
                                <input type="submit" class="btn btn-primary" value="Add Schedule" style="background-color: black; border-color: black;">
                            </div>
                        </form>
                </div>
                  <div class="col-sm-6">
                    <table class="table">
                        <thead>
                        <tr>
                           <th scope="col">Mata Kuliah</th>
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        {% for jadwal in schd %}
                        <tr>
                            <th scope="row">{{jadwal.matkul}}</th>
                            <td><a href="{% url 'jadwal:delete' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i>Delete</button></a></td>
                            <td><a href="{% url 'jadwal:detail' pk=jadwal.pk %}"> <button class="btn btn-info">Detail</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                      </div>
                  </div>
        </body>