<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Story 3</title>
    {% include "navbar.html" %} 
  <br>
  <br>
    <div class="container">
    <div class="row">
          <div class="col-sm-4">
            <div id="profile2">
                <img class= "img-responsive" src= "{% static 'profile.PNG' %}" alt="Profile" width="260" height="260"/>
            </div>
            <div id="hanifa">
                <h3>Hanifa &nbsp;Ariana</h3>
                <h5 style="padding-left: 5%;">3rd August 2001<h5>

            </div>
        </div>
          <div class="col-sm-8">
              <div id="bio">
                  <h4 style="text-align: justify; font-weight: bold;">H O B B Y</h4>
                  <p style="text-align: justify;">Listening to music</p>
                  <br>
                  <h4 style="text-align: justify; font-weight: bold;">E D U C A T I O N</h4>
                  
                  <div class="table-responsive-sm">
                  <table style="width:70%" id="edu">
                    <tr>
                        <td>SMPN 99 Jakarta</td>
                        <td>2013 — 2016</td>
                    </tr>
                    <tr>
                        <td>SMAN 68 Jakarta</td>
                        <td>2016 — 2019</td>
                    </tr>
                    <tr>
                        <td>Faculty of Computer Science, UI</td>
                        <td>2019 — present</td>
                    </tr>
                </table>
            </div>
                <br>
                <h4 style="text-align: justify; font-weight: bold;">E X P E R I E N C E S</h4>
                <p>Staff of Public Relations OH Fasilkom UI 2019</p>
                <p>Staff of Public Relations Wisuda Ganjil Fasilkom 2020</p>
                <p>Staff of Public Relations BEM Fasilkom UI 2020</p>
                <p>Staff of Business Development PERAK Fasilkom 2020</p>
                <p>Staff of Secretary COMPFEST 2020</p>
            </div>
        </div>
    </div>
</div>
  <br>
  <br>
  <br>
    </body>
</html> 