<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Story 3</title>
        <body>
        {% include "navbar.html" %} 

  <br>
<br>
    <div id="profile">
        <img class= "img-responsive" src= "{% static 'profile2.PNG' %}" alt="Profile" width="300" height="300" style="display: block; margin: auto;" />

    </div>
<br>

    <div id="hello">
  
        <img class= "img-responsive" src= "{% static 'hello.png' %}" alt="Hello" width="300" height="300" style="display: block; margin: auto;"/>
    </div>
    <br>


    </div> 
    
</body>
</html>