<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
    <title>Story 3</title>
    <body>
    {% include "navbar.html" %} 
    <div class="container">
        <div class="row" style="width: 100%";>
                <div class="col-sm-4">
                    <div id="kiri">
                        <img src= "{% static 'balii.jpg' %}" alt="perpis" width="280" height="210"/>
                        <p>BALI 2018&nbsp;</p>
                        <img src= "{% static 'tamling.jpg' %}" alt="tamling" width="280" height="210"/>
                        <p>KAMABA 2019</p>
                        <img src= "{% static 'bakar.jpg' %}" alt="tamling" width="280" height="210"/>
                        <p>TAHUN BARU 2020</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="tengah">
                        <img src= "{% static 'tk.jpg' %}" alt="bazkom" width="280" height="210"/>
                        <p>2019</p>  
                        <img src= "{% static 'jakun.jpg' %}" alt="jakun" width="280" height="210"/>
                        <p>JAKET KUNING</p>
                        <img src= "{% static 'liga.jpg' %}" alt="liga" width="280" height="210"/>
                        <p>LIGA PERAK 2020</p>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="kanan">
                        <img src= "{% static 'sma.jpg' %}" alt="sma" width="280" height="210"/>
                        <p>WISUDA 2019</p>
                        <img src= "{% static 'parade.jpg' %}" alt="Parade" width="280" height="210"/>
                        <p>PARADE OLIM 2019</p>
                        <img src= "{% static 'bisdev.jpg' %}" alt="bisdev" width="280" height="210"/>
                        <p>TEAM BUILDING PERAK 2020</p>
                    </div>
                </div>
              </div>

        </div>
    </div>
    </body>
</html>
