<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hanifa Ariana</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="{% static 'bootstrap2.css' %}" rel="stylesheet" type="text/css">
      </head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top nav justify-content-center" style="background-color: #EADBDB;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'homepage:home' %}"><img src="{% static 'logo.png' %}" width="50px" height="50px" style="text-align: left;" ></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'homepage:home' %}" style="color: black;"> H O M E </a></li>
          <li><a href="{% url 'homepage:about_me' %}" style="color: black;"> A B O U T &nbsp;M E</a></li>
          <li><a href="{% url 'homepage:socmed' %}" style="color: black;"> S O C I A L &nbsp;M E D I A </a></li>
          <li><a href="{% url 'homepage:mmrs' %}" style="color: black;"> M E M O R I E S </a></li>
          <li><a href="{% url 'story1:index' %}" style="color: black;"> S T O R Y &nbsp;1  </a></li>
          <li><a href="{% url 'jadwal:Schedule' %}" style="color: black;"> J A D W A L </a></li>

        </ul>
      </div>
    </div>
  </nav>
</body>