<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Story 3</title>
        <body>
        {% include "navbar.html" %} 
      <br>
      <br>
      <br>
      <br>
<br>
<br>

      <div id="socmed">
        <a href="https://www.instagram.com/hanifariana/" target="_blank">
            <img src="{% static 'ig.png' %}" alt="Ig @hanifariana" width="150" height="150" hspace="20"/>
        </a>
        <a href="https://www.twitter.com/hanifariana/" target="_blank">
            <img src="{% static 'twitter.png' %}" alt="Twitter @hanifariana" width="150" height="150" hspace="20"/>
        </a>
        <a href="https://www.linkedin.com/in/hanifa-ariana-8832a61a0/" target="_blank">
            <img src="{% static 'linkedin.png' %}" alt="LinkedIn Hanifa Ariana" width="150" height="150" hspace="20"/>
        </a>
        <a href="https://open.spotify.com/user/hanifariana?si=_rDme1xBSb6GCyol1DDNWw" target="_blank">
            <img src="{% static 'spotify.png' %}" alt="Spotify Hanifa Ariana" width="150" height="150" hspace="20"/>
        </a>
      </div>
      </body>
</html>